PORT=8000
NODE_ENV=development

SKIP_AUTH=true
SKIP_WORKERS=true
SKIP_WEB_PUSH=true

JWKS_URI=https://example.com/.well-known/jwks.json
JWT_AUDIENCE=ubicatec
JWT_ISSUER=ubicatec-auth

SERVICE_BUS_CONN_STRING=Endpoint=sb://example.servicebus.windows.net/;SharedAccessKeyName=example;SharedAccessKey=example
SERVICE_BUS_QUEUE=rsvp-confirmations
SERVICE_BUS_TOPIC=events
SERVICE_BUS_SUBSCRIPTION=events.notifier

TABLE_STORAGE_CONN_STRING=DefaultEndpointsProtocol=https;AccountName=example;AccountKey=example;EndpointSuffix=core.windows.net
NOTIFICATIONS_TABLE=Notifications
PUSH_SUBS_TABLE=PushSubs

VAPID_PUBLIC_KEY=example
VAPID_PRIVATE_KEY=example
VAPID_SUBJECT=mailto:ubicatec.notifs@gmail.com

APIM_CERT_THUMBPRINT=F5DA71353562CD518FF7397D2DC307E299C3D806
APPLICATIONINSIGHTS_CONNECTION_STRING=example